{% extends "base.html" %}

{% block container %}
{% load static %}

  
        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Productos</a>
            </li>
            <li class="breadcrumb-item active">Todos los productos</li>
          </ol>
            <div class="jumbotron">
                <h1>Productos</h1> 
                <p>¡Tenemos una base de datos detallada con más de 20 productos!</p>
                <img src="{% static 'img/supermercado.jpg' %}" style="width:50%"/>
     
            </div>
          
       

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Productos disponible</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Producto</th>
                      <th>Costo presupuestado</th>
                      <th>Costo final</th>
                      <th>Unidad</th>
                      <th>Comentarios</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Producto</th>
                      <th>Costo presupuestado</th>
                      <th>Costo final</th>
                      <th>Unidad</th>
                      <th>Comentarios</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Papas Lays</td>
                      <td>800</td>
                      <td>700</td>
                      <td>3</td>
                      <td>Muy saladas!</td>
                    </tr>
                    <tr>
                    <tr>
                      <td>2</td>
                      <td>Golden Nuss</td>
                      <td>1200</td>
                      <td>1000</td>
                      <td>2</td>
                      <td>Terrible wenos</td>
                    </tr>
                  
                  
                
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}
   