{% extends "base.html" %}

{% block container %}
{% load static %}

  
        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Productos</a>
            </li>
            <li class="breadcrumb-item active">Todos los productos</li>
          </ol>
            <div class="jumbotron">
                <h1>No tienes permiso para estar aqu</h1> 
                {% comment %} <p>¡Tenemos una base de datos detallada con más de 20 productos!</p> {% endcomment %}
                <img src="{% static 'img/supermercado.jpg' %}" style="width:50%"/>
     
            </div>
              <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
       

          <!-- DataTables Example -->
        
        </div>
        <!-- /.container-fluid -->

{% endblock %}
   