{% extends "base.html" %}

{% block container %}
{% load static %}

    


    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center">registrar</div>
        <h1>asereje ha deje</h1>
        <div class="panel-body">
        <form method="POST" class="text-center p-5">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" class="btn btn-primary">
        </form>

      </div>
      </div>
    </div>

    

{% endblock %}
   